<div class="row">
  <div class="col-3">
    <div class="card  h-100">
      <img [src]="image" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">{{planet.name}}</h3>
        <p class="card-text"> {{planet.id}} </p>
        <a [routerLink]="['/planets']" class="btn btn-primary">Planet List</a>
      </div>
    </div>

  </div>
  <div class="col-6">
    <div class="card  h-100">
      <div class="card-body">
        <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="graphData" (select)="onSelect($event)"
          (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
        </ngx-charts-line-chart>
      </div>
    </div>

  </div>
  </div>