.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('/assets/img/homeplanet.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  