.masthead {
    height: 100vh;
    
    background-image: url('/terraform/assets/img/homeplanet.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  